/* Kanagawa Dragon Palette */
@define-color window_bg_color #181616;
@define-color window_fg_color #c5c9c5;
@define-color view_bg_color #181616;
@define-color view_fg_color #c5c9c5;
@define-color headerbar_bg_color #282727;
@define-color headerbar_backdrop_color #282727;
@define-color headerbar_fg_color #c5c9c5;
@define-color popover_bg_color #181616;
@define-color popover_fg_color #c5c9c5;
@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;
@define-color card_bg_color #282727;
@define-color card_fg_color #c5c9c5;
@define-color sidebar_bg_color #181616;
@define-color sidebar_fg_color #c5c9c5;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color sidebar_border_color #282727;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_border_color @sidebar_border_color;
/* Accents */
@define-color blue_1 #8ba4b0;
@define-color blue_2 #5d7785;
@define-color green_1 #8a9a7b;
@define-color yellow_1 #c4b28a;
@define-color orange_1 #b6927b;
@define-color red_1 #c4746e;
@define-color purple_1 #a292a3;
@define-color purple_2 #8992a7;
@define-color brown_1 #9e9b93;
@define-color light_1 #c5c9c5;
@define-color light_2 #a6a69c;
@define-color light_5 #5d7785;
@define-color dark_1 #282727;
@define-color dark_2 #181616;
toast {
  background-color: @window_bg_color;
  color: @window_fg_color;
}
toggle:checked {
  background-color: @card_bg_color;
  color: @window_fg_color;
}
.inline {
	background-color: rgba(0, 0, 0, 0);
}
